.cardss{
    position: relative;
    padding-bottom: 30px;
    .heart{
        position: absolute;
        top: 10px;
        right: 60px;
    }
    .img{
        width: 100%;
        height: 300px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .card-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        button{
            padding: 10px 30px;
            background-color: rgb(4, 38, 49);
            color: white;
            border: none;
            border-radius: 8px;
            transition: all 0.3s;
            &:hover{
                background-color: rgb(25, 75, 92);
            }
        }
    }
}